// colors
$white-colore: #fff;
$hover-yellow-color:#fce38a;
$bcg-white: #e5e5e5;
$button-text-color: #e7e7e7;
$title-color: #333333;
$line-color: #f38181;
$text-color: #999999;
$blue-color: #95e1d3;

// Font styles
$kaushan: "Kaushan Script", Arial, sans-serif;
$monsterrat: 'Montserrat', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;